@media all and (max-width: 700px) {
    html {
        font-size: 15px;
    }
    .hero-image .col-right {
        width: 98%;
        float: left;
        margin-left: 1%;
    }
    .header-menu {
        display: none;
    }
    .section__row {
        flex-wrap: wrap;
    }
    .section__column {
        width: 100%;
        text-align: center;
    }

    .section-signup__input { 
        height: 30px;
    }

    .section-signup__button { 
        padding:2% 3%;
    }
}